:root {
  --gap: 80px;
  --pushToRight: 100px;
}
.bowlText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  font-size: 1.5em;
  font-weight: 600;
  color: black;
}
.bowlImageDimensions {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 25px;
}
@media screen and (max-width: 480px) {
  :root {
    --gap: 20px;
    --pushToRight: 10px;
  }
  .bowlImageDimensions {
    width: 350px;
    height: 350px;
  }
  .bowlText {
    font-size: 1.2em;
  }
}

.reSize {
  font-size: 180px;
}
.item {
  flex: 1 0 100%;
  box-sizing: border-box;
}
.bowl {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bowl:hover {
  cursor: pointer;
  color: aqua;
}
