.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, red, orange, yellow);
  font-size: 1.5em;
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
}
@media only screen and (max-width: 600px) and (orientation: portrait) {
}
