.flexitAll {
  position: absolute;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: start;
  gap: 40%;
}
.flexTheRightChildrenVertically {
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
}
.Button {
  font-size: 1em;
  background: linear-gradient(135deg, #fff9c4, #ffe082, #ffd54f);
  min-width: max-content;
  border-radius: 20px;
  position: relative;
  left: 0%;
}
.addToOrder {
  font-size: 1em;
  gap: 1em;
  background-image: linear-gradient(to right, purple, orange);
  position: absolute;
  border-radius: 20px;
  top: 100%;
  left: -50%;
  width: max-content;
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.styleConfirm {
  font-size: 1em;
  background: linear-gradient(135deg, #fff9c4, #ffe082, #ffd54f);
  position: absolute;
  border-radius: 20px;
  top: 100%;
  min-width: max-content;
  position: relative;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.Clear {
  background-image: linear-gradient(to right, pink, orange);
  position: absolute;
  top: 105%;
  left: 0%;
  border-radius: 20px;
}
.flexIngreAndMacros {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  margin-left: 10%;
}
.ingredientsFlextheContentsVertically {
  background-image: linear-gradient(135deg, lightblue, lightgreen);
  width: max-content;
  padding: 0.05em 0.1em;
  text-align: center;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  font-size: 1.1em;
}
.includeTitleinMacros {
  background-image: linear-gradient(to top, red, orange, yellow);
  width: max-content;
  padding: 0.05em 0.1em;
  border-radius: 20px;
}
.macrosFlextheContentsHorizontally {
  text-align: center;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 1.1em;
}
.addSpacing {
  margin-left: 10px;
}

@keyframes steaming {
  0% {
    opacity: 0%;
    transform: translateY(0px);
  }
  50% {
    opacity: 100%;
    transform: translateY(0px);
  }
  100% {
    opacity: 0%;
    transform: translateY(-70px);
  }
}
.Bowl {
  margin: 10px;
  font-size: 20em;
  height: 400px;
}
.positionSteam {
  position: absolute;
  width: 200px;
  height: 170px;
  top: 25%;
  left: 6%;
  background-image: url("/assets/smoke.png");
  background-size: 170px 150px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  animation: steaming 3s ease-in-out infinite;
  pointer-events: none;
  z-index: -1;
}

@media screen and (max-width: 480px) {
  .flexitAll {
    gap: 5%;
  }
  .ingredientsFlextheContentsVertically {
    font-size: 0.5em;
  }
  .macrosFlextheContentsHorizontally {
    font-size: 0.6em;
  }
  .positionBowlinCenter {
    font-size: 10em;
  }
  .positionSteam {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 1%;
    left: 13%;
    background-size: 100px 100px;
  }
  .Bowl {
    font-size: 10em;
  }
  .flexIngreAndMacros {
    margin-left: 0%;
    width: 200px;
  }
  .Button {
    top: 60%;
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  .positionBowlinCenter {
    font-size: 10em;
    margin: 200px auto;
  }
}
